/* http://bl.ocks.org/mbostock/3884914 */

body {
  font: 10px sans-serif;
  background-color:blue;
  color: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
	color: white;
	fill: white;
}

.x.axis path {
  display: none;
}

.area {
  fill: steelblue;
}

.bar {
  fill: yellow;
/* opacity:0.4; */
}

.axis text {
  font: 10px sans-serif;
  color: white;
}


