/* http://bl.ocks.org/mbostock/3884914 */

body {
  font: 12px sans-serif;
  background-color:black; 
  color: whitesmoke;
}

.axis {
  fill: WhiteSmoke  ;
/*  opacity: 0.75; */
  font-weight:bold;
  /*background-color:black;  */
}
.axis path,
.axis line {
  fill: none;
  stroke: WhiteSmoke  ;
  opacity: 1.0;
  stroke-width: 1px;
/*  shape-rendering: crispEdges; */
}

.x.axis path {
  display: none;
}

.area {
  fill: Gold;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 0.6px;
}

.background {
  fill: darkblue;
}

.bar {
  fill: yellow;
  stroke: none;
/*  stroke: yellow;
  stroke-width:0.2 */
  shape-rendering: crispEdges;  
/* opacity:0.4; */
}

.axis {
  /*background-color:black;  */
}

