<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app="wavefront" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="wavefront" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="wavefront" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="wavefrontweb" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/local.css">
        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-controller="WavefrontWebController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate.</p>
        <!-- <ANY ng-cloak /> 
             <input type="text" ng-model="modelname"/>
             SINE: {{modelname}}
        -->

TA_TOLK_BHZ_01<br>
        <wf-chart srcname="TA_TOLK_BHZ_01" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_TOLK_BHZ_01" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_HDA_BHZ<br>
        <wf-chart srcname="TA_HDA_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_HDA_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_D50A_BHZ<br>
        <wf-chart srcname="TA_D50A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_D50A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_D56A_BHZ<br>
        <wf-chart srcname="TA_D56A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_D56A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_E44A_BHZ<br>
        <wf-chart srcname="TA_E44A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_E44A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_E47A_BHZ<br>
        <wf-chart srcname="TA_E47A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_E47A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_E53A_BHZ<br>
        <wf-chart srcname="TA_E53A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_E53A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_F61A_BHZ<br>
        <wf-chart srcname="TA_F61A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_F61A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_F48A_BHZ<br>
        <wf-chart srcname="TA_F48A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_F48A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_G54A_BHZ<br>
        <wf-chart srcname="TA_G54A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_G54A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_G47A_BHZ<br>
        <wf-chart srcname="TA_G47A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_G47A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_H48A_BHZ<br>
        <wf-chart srcname="TA_H48A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_H48A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_H55A_BHZ<br>
        <wf-chart srcname="TA_H55A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_H55A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_I48A_BHZ<br>
        <wf-chart srcname="TA_I48A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_I48A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_I49A_BHZ<br>
        <wf-chart srcname="TA_I49A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_I49A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_J46A_BHZ<br>
        <wf-chart srcname="TA_J46A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_J46A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_K48A_BHZ<br>
        <wf-chart srcname="TA_K48A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_K48A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_K43A_BHZ<br>
        <wf-chart srcname="TA_K43A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_K43A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_L55A_BHZ<br>
        <wf-chart srcname="TA_L55A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_L55A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_L46A_BHZ<br>
        <wf-chart srcname="TA_L46A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_L46A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_M59A_BHZ<br>
        <wf-chart srcname="TA_M59A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_M59A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_M55A_BHZ<br>
        <wf-chart srcname="TA_M55A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_M55A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_M58A_BHZ<br>
        <wf-chart srcname="TA_M58A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_M58A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_N51A_BHZ<br>
        <wf-chart srcname="TA_N51A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_N51A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_N60A_BHZ<br>
        <wf-chart srcname="TA_N60A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_N60A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_N50A_BHZ<br>
        <wf-chart srcname="TA_N50A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_N50A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_O56A_BHZ<br>
        <wf-chart srcname="TA_O56A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_O56A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_O54A_BHZ<br>
        <wf-chart srcname="TA_O54A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_O54A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_O52A_BHZ<br>
        <wf-chart srcname="TA_O52A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_O52A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_P46A_BHZ<br>
        <wf-chart srcname="TA_P46A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_P46A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_P56A_BHZ<br>
        <wf-chart srcname="TA_P56A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_P56A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_Q56A_BHZ<br>
        <wf-chart srcname="TA_Q56A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_Q56A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_Q55A_BHZ<br>
        <wf-chart srcname="TA_Q55A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_Q55A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_Q61A_BHZ<br>
        <wf-chart srcname="TA_Q61A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_Q61A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_R52A_BHZ<br>
        <wf-chart srcname="TA_R52A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_R52A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_R49A_BHZ<br>
        <wf-chart srcname="TA_R49A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_R49A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_R58B_BHZ<br>
        <wf-chart srcname="TA_R58B_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_R58B_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_S44A_BHZ<br>
        <wf-chart srcname="TA_S44A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_S44A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_S51A_BHZ<br>
        <wf-chart srcname="TA_S51A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_S51A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_T55A_BHZ<br>
        <wf-chart srcname="TA_T55A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_T55A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_T57A_BHZ<br>
        <wf-chart srcname="TA_T57A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_T57A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_U54A_BHZ<br>
        <wf-chart srcname="TA_U54A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_U54A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_U58A_BHZ<br>
        <wf-chart srcname="TA_U58A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_U58A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_U56A_BHZ<br>
        <wf-chart srcname="TA_U56A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_U56A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_V56A_BHZ<br>
        <wf-chart srcname="TA_V56A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_V56A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_V60A_BHZ<br>
        <wf-chart srcname="TA_V60A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_V60A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_W50A_BHZ<br>
        <wf-chart srcname="TA_W50A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_W50A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_W51A_BHZ<br>
        <wf-chart srcname="TA_W51A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_W51A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_W52A_BHZ<br>
        <wf-chart srcname="TA_W52A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_W52A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_X59A_BHZ<br>
        <wf-chart srcname="TA_X59A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_X59A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_X56A_BHZ<br>
        <wf-chart srcname="TA_X56A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_X56A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_Y57A_BHZ<br>
        <wf-chart srcname="TA_Y57A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_Y57A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_Y51A_BHZ<br>
        <wf-chart srcname="TA_Y51A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_Y51A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_Y12C_BHZ<br>
        <wf-chart srcname="TA_Y12C_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_Y12C_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_Z53A_BHZ<br>
        <wf-chart srcname="TA_Z53A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_Z53A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_Z52A_BHZ<br>
        <wf-chart srcname="TA_Z52A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_Z52A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_156A_BHZ<br>
        <wf-chart srcname="TA_156A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_156A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_253A_BHZ<br>
        <wf-chart srcname="TA_253A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_253A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_214A_BHZ<br>
        <wf-chart srcname="TA_214A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_214A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_353A_BHZ<br>
        <wf-chart srcname="TA_353A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_353A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_455A_BHZ<br>
        <wf-chart srcname="TA_455A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_455A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_552A_BHZ<br>
        <wf-chart srcname="TA_552A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_552A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_655A_BHZ<br>
        <wf-chart srcname="TA_655A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_655A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_857A_BHZ<br>
        <wf-chart srcname="TA_857A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_857A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_058A_BHZ<br>
        <wf-chart srcname="TA_058A_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_058A_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>
TA_062Z_BHZ<br>
        <wf-chart srcname="TA_062Z_BHZ" twin="86400.0" tbin="240.0" width="800" height="75"></wf-chart>
        <wf-chart srcname="TA_062Z_BHZ" twin="7200.0" tbin="20.0" width="800" height="75"></wf-chart>
<br>



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/vendor/d3.v3.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        <script src="/static/js/vendor/socket.io.min.js"></script>
        <script src="/static/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        -->
    </body>
</html>
